<form id="groupForm" class="form-inline">
    <div class="form-group mx-sm-3 mb-2">
        <input id="txtGroupName" type="text" name="Name" class="form-control" placeholder="name">
        <input id="txtGroupDescription" type="text" name="Description" class="form-control" placeholder="description">
    </div>
    <button id="btnNewGroup" type="submit" class="btn btn-primary mb-2">+ Create</button>
    <br>
</form>
{{#if groups}}
<table class="table text-center">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Number of Series</th>
        </tr>
    </thead>
    <tbody>
        {{#each groups}}
        <tr>
            <td><a href="#group/{{_id}}">{{name}}</a></td>
            <td>{{description}}</td>
            <td>{{series.length}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<div class="card text-center bg-warning">
    <p class="card-text ">No groups found</p>
</div>
{{/if}}