{{#if group}}
<div id="divGroupDetail">
    <br>
    <div class="card text-center">
        <div class="card-header">
            <h2>{{group.name}}</h2>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>{{group.description}}</p>
            </blockquote>
        </div>
    </div>
    <br>
    <div id="usersInvitedDiv">
        <h4>Users Invited</h2>
        <form id="inviteeForm" class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
                <input id="txtInviteeName" type="text" name="Invitee" class="form-control" placeholder="User">
            </div>
            <button id="btnInvite" type="submit" class="btn btn-success mb-2">Invite</button>
        </form>
        <div id="divInviteesTable">
            <br>
            <table class="table table-striped text-center">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="inviteesTableBody">
                    {{#each group.invitees}}
                    <tr id="{{userID}}_row">
                        <td>{{username}}</td>
                        <td><button id={{userID}} type="submit" class="btn btn-danger mb-2">Kick</button></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <h4>Series in Group</h2>
    <form id="seriesForm" class="form-inline">
    <div class="form-group mx-sm-3 mb-2">
        <input id="txtSeriesId" type="text" name="SeriesId" class="form-control text-center" placeholder="series id">
    </div>
    <button id="btnAddSeriesToGroup" type="submit" class="btn btn-success mb-2">Add Series</button>
    {{#if group.series}}
    <button id="btnDeleteSeriesFromGroup" type="submit" class="btn btn-danger mb-2">Remove Series</button>
    {{/if}}
    </form>
    {{#if group.series}}
    <div id="divSeriesTable">
        <br>
        <table class="table table-striped text-center">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody id="seriesTableBody">
                {{#each group.series}}
                <tr id="Series_{{id}}">
                    <td>{{id}}</td>
                    <td>{{name}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    {{else}}
    <div id="divSeriesNotFound">
        <br>
        <div class="card text-center bg-warning">
            <p class="card-text ">No series found</p>
        </div>
        <br>
    </div>
    {{/if}}
    <br>
    <button id="btnDeleteGroup" type="submit" class="btn btn-danger mb-2">Delete Group</button>
</div>
{{else}}
<div class="card text-center bg-warning">
    <p class="card-text ">No groups found</p>
</div>
{{/if}}