{{#if movies}}
<table class="table text-center">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Popularity</th>
        </tr>
    </thead>
    <tbody>
        {{#each movies}}
        <tr>
            <td><a href="https://www.themoviedb.org/movie/{{id}}">{{id}}</a></td>
            <td>{{name}}</td>
            <td>{{popularity}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<div class="card text-center bg-warning">
    <p class="card-text ">No movies found</p>
</div>
{{/if}}